<?xml version="1.0" encoding="UTF-8"?>

<!-- AUTO GENERATED - REMOVE TO NOT AUTO UPDATE
By default, a web.config is maintained by common-ui-scripts.
If you want to maintain your own web.config, remove the comment
on the first line.

Change Log:
2020-1-17 8:37AM
2020-06-29 10:11AM - disable caching for app-config.json 
2021-07-29 10:21AM - Fix cache pathing for app config and index html -->

<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Rewrite Root Passive" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_URI}" pattern="passive" />
          </conditions>
          <action type="Rewrite" url="indexpassive.html" />
        </rule>

        <rule name="Rewrite Passive Blacklist Files" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="passive" />
            <add input="{REQUEST_FILENAME}" pattern="package.json|package-lock.json|tsconfig.json|app-config.json.token|asset-manifest.json|Dockerfile|^.*\/e2e\/.*$" />

          </conditions>
          <action type="Rewrite" url="indexpassive.html" />
        </rule>

        <rule name="Rewrite to index.html" stopProcessing="true">
          <match url=".*" />
          <!-- <match url="^((?!passive).)*$" /> -->
          <!-- These condition are ORed together via the MatchAny grouping -->
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="package.json" />
            <add input="{REQUEST_FILENAME}" pattern="package-lock.json" />
            <add input="{REQUEST_FILENAME}" pattern="tsconfig.json" />
            <add input="{REQUEST_FILENAME}" pattern="app-config.json.token" />
            <add input="{REQUEST_FILENAME}" pattern="asset-manifest.json" />
            <add input="{REQUEST_FILENAME}" pattern="Dockerfile" />
            <add input="{REQUEST_FILENAME}" pattern="^.*\/e2e\/.*$" />
            <!-- If the file exists on disk, DO NOT run the rewrite -->

            <!-- If the file is any one of these files, DO run the rewrite -->
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <clientCache cacheControlMaxAge="365.00:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>
  </system.webServer>
  <location path="index.html">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="app-config.json">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>